// page-course-list {}

.item{
  padding-left: 0;
}

.course-item{}
.course-item__name{
  font-weight:bold;
  font-size: 16px!important;
  margin-bottom: 10px!important;
}

.badge{
  min-width: 90px;
}
